{{/* RESIZE RESOURCE IMAGES, THEN CREATE SRCSET TAGS. ENABLE LAZY LOADING NATIVE/JS AND NOSCRIPT SUPPORT */}}
{{/* USE {{ partial "scripts/srcset.html" (dict "page" $ "image" "image_name")}}  - folder and file extension not required
{{<srcset image="spf13">}} - folder or extension not required

override resource params
{{ partial "scripts/srcset.html" (dict "page" $ "image" "image_name" "title" "title override" "size" 100 "figure" bool "figureTitle" "figtitle ovverride" "class" "class additions" "style" "inline styles")}}

*/}}
{{/* .md file must have resources set up including 
resources:
  - src: ""  # (e.g. images/testimonials*), 
    title: "" # (used for alt text),
    # name: "" #(optional override, defaults to file name), 
    params: 
      # class: " " #(optional)
      # eager: true# (for above the fold)
      # figure: true #(Add title below image)
      # width: 100 (px)
*/}}



{{ $ctx := . }}
{{ with .page.Resources.GetMatch (printf "**%s**" .image ) }}
{{/* only if valid input */}}
  {{ $image := . }}

  {{ $lqipGif := $image.Resize "32x gif" -}}
  {{ $lqipGif = $lqipGif.Filter (images.GaussianBlur 4) }}
  {{ $lqipGif = $lqipGif.Content | base64Encode }}
  {{ $lqipWebp := $image.Resize "32x webp" -}}
  {{ $lqipWebp = $lqipWebp.Filter (images.GaussianBlur 4) }}
  {{ $lqipWebp = $lqipWebp.Content | base64Encode }}

  {{ $img := printf "%dx" $.width | $image.Resize }}
  {{ $imgSrc := $img.RelPermalink}}
  {{ $imgSrcWebp := (printf "%dx webp" $.width | $image.Resize).RelPermalink }}
    
  {{/*  OUTPUT HTML  */}}
  {{/*  set vars for html tags  */}}
  {{ $title := $ctx.title | default $image.Title }}
  {{ $figureTitle := $ctx.figureTitle | default $title }}
  {{ $figure := $ctx.figure | default $image.Params.figure }}
  {{ $class := (printf "%s %s" ($image.Params.class | default "") ($ctx.class | default ""))}}
  {{ $eager := $ctx.eager | default $image.Params.eager }}
  {{ $style := $ctx.style | default $image.Params.style }}

  {{- if $figure -}}
    <figure class="figure">
  {{- end -}}
  
  {{ if $eager }} 
  <picture>
    <source type="image/webp"
      srcset="{{- $imgSrcWebp -}}">
    <img alt="{{ $title }}" 
      title="{{ $title }}"
      class="{{ $class }} eager"
      {{ with $style}} style="{{ . | safeCSS }}"{{ end }}
      src="{{ $imgSrc }}"
      width="{{ $img.Width }}"
      height="{{ $img.Height }}"
      loading="eager" 
      decoding="async"
      {{ $ctx.data | safeHTMLAttr }}/>
  </picture>
  {{ else -}}
  <picture>
    <source type="image/webp"
      srcset="data:image/webp;base64,{{- $lqipWebp -}}"
      data-srcset="{{- $imgSrcWebp -}}">
    <img alt="{{ $title }}" 
      title="{{ $title }}"
      class="lazyload {{ $class }}" 
      {{ with $style}} style="{{ . | safeCSS }}"{{ end }}
      data-src="{{- $imgSrc -}}"
      loading="lazy"
      src="data:image/gif;base64,{{- $lqipGif -}}"
      width="{{ $img.Width }}"
      height="{{ $img.Height }}"
      decoding="async"
      {{ $ctx.data | safeHTMLAttr }} />
  </picture>
  {{ end }}
  <noscript>
    <img alt="{{ $title }}" 
      title="{{ $title }}"
      class="img-fluid {{ $class }}"
      {{ with $style}} style="{{ . | safeCSS }}"{{ end }}
      src="{{ $imgSrc }}" 
      width="{{ $img.Width }}"
      height="{{ $img.Height }}" />
  </noscript>
  {{ if $figure -}}
  <figcaption class="figure-caption">{{ $figureTitle }}</figcaption>
  </figure>
  {{ end }}



{{ else }}
<img src="https://via.placeholder.com/1200" alt="no image provided" class="img-fluid" />
{{ end }}

