{{/* RESIZE RESOURCE IMAGES, THEN CREATE SRCSET TAGS. ENABLE LAZY LOADING NATIVE/JS AND NOSCRIPT SUPPORT */}}
{{/* USE {{ partial "scripts/srcset.html" (dict "page" $ "image" "image_name")}}  - folder and file extension not required
{{<srcset image="spf13">}} - folder or extension not required

override resource params
{{ partial "scripts/srcset.html" (dict "page" $ "image" "image_name" "title" "title override" "width" "cols or thumbs" "figure" bool "figureTitle" "figtitle ovverride" "class" "class additions" "style" "inline styles")}}

*/}}
{{/* .md file must have resources set up including 
resources:
  - src: ""  # (e.g. images/testimonials*), 
    title: "" # (used for alt text),
    # name: "" #(optional override, defaults to file name), 
    params: 
      # class: " " #(optional)
      # eager: true# (for above the fold)
      # figure: true #(Add title below image)
      # width: thumbs/cols/(null - full)

optional config override in params
#SRCSET PHOTO RESIZE CONFIG (optional)
photoResize:
  widthsFull:
  - 535
  - 696
  - 936
  - 1140
  - 1296
  widthsCols:
  - 178
  - 279
  - 372
  - 468
  - 558
  - 648
  widthsThumbs:
  - 32
  - 72
  - 96
  - 166
  - 196

      
*/}}



{{ $ctx := . }}
{{ with .page.Resources.GetMatch (printf "**%s**" .image ) }}
{{/* only if valid input */}}
  {{ $image := . }}

  {{ $widthsCols := (slice 648 558 468 377 279 178) }}
  {{ $widthsThumbs := (slice 196 166 96 72 32) }}
  {{ $widthsFull := (slice 1320 1140 1320 1140 936 696 535) }}

  {{/*  define variables inside if - used in img tags at end  */}}
  {{ $imgSrcSet := slice }}
  {{ $imgSrcSetWebp := slice }}
  {{ $imgSrc := "" }}
  {{ $imgSrcWebp := "" }}
  {{ $lqipGif := "" }}
  {{ $lqipWebp := "" }}
  {{/*  disable image processing for svg  */}}

  {{ if ne $image.MediaType.SubType "svg" }}
    {{ $imageSize := imageConfig ($image.RelPermalink | printf "content/%s" ) }}
    {{ $lqipGif = $image.Resize "32x gif" -}}
    {{ $lqipGif = $lqipGif.Filter (images.GaussianBlur 4) }}
    {{ $lqipGif = $lqipGif.Content | base64Encode }}
    {{ $lqipWebp = $image.Resize "32x webp" -}}
    {{ $lqipWebp = $lqipWebp.Filter (images.GaussianBlur 4) }}
    {{ $lqipWebp = $lqipWebp.Content | base64Encode }}
    

    <!-- variables used for img tag -->
    
    
    {{ $widths := ""}}

    {{ $widthString := $ctx.width | default $image.Params.width }}
    <!-- change widths based on resource params  site used rather than .Site to avoid context issues -->
    {{/* if $image.Params.widthCols }}
      {{ $widths = site.Params.photoResize.widthsCols | default $widthsCols}}
    {{ else if $image.Params.widthThumbs }}
      {{ $widths = site.Params.photoResize.widthsThumbs | default $widthsThumbs }}
    {{ else }}
      {{ $widths = site.Params.photoResize.widthsFull | default $widthsFull  }}
    {{ end */}}

    {{ if eq $widthString "cols" }}
      {{ $widths = site.Params.photoResize.widthsCols | default $widthsCols}}
    {{ else if eq $widthString "thumbs" }}
      {{ $widths = site.Params.photoResize.widthsThumbs | default $widthsThumbs }}
    {{ else }}
      {{ $widths = site.Params.photoResize.widthsFull | default $widthsFull  }}
    {{ end }}

    <!--
      Add URL for each width to $imgSrcSet variable
      format: "/path/img_1000.jpg 1000w,/path/img_500.jpg 500w"
      Note: the first URL is used as "fallback" src in $imgSrc.
    -->
   
    
    {{ range $widths }}
      {{/* NON-WEBP */}}
      {{ $srcUrl := (printf "%dx" . | $image.Resize).RelPermalink }}
      {{ if eq $imgSrc "" }}
        {{/*  first(largest size) becomes fallback image  */}}
        {{ $imgSrc = $srcUrl }}
      {{ end }}
      {{ $imgSrcSet = $imgSrcSet | append (printf "%s %dw" $srcUrl .) }}
      {{/* WEBP */}}
      {{ $srcUrlWebp := (printf "%dx webp" . | $image.Resize).RelPermalink }}
      {{ if eq $imgSrcWebp "" }}
        {{/*  first(largest size) becomes fallback image  */}}
        {{ $imgSrcWebp = $srcUrlWebp }}
      {{ end }}
      {{ $imgSrcSetWebp = $imgSrcSetWebp | append (printf "%s %dw" $srcUrlWebp .) }}
    {{ end }}
    {{ $imgSrcSet = (delimit $imgSrcSet ",") }}
    {{ $imgSrcSetWebp = (delimit $imgSrcSetWebp ",") }}
  {{ end }}



  {{/*  OUTPUT HTML  */}}
  {{/*  set vars for html tags  */}}
  {{ $title := $ctx.title | default $image.Title }}
  {{ $figureTitle := $ctx.figureTitle | default $title }}
  {{ $figure := $ctx.figure | default $image.Params.figure }}
  {{ $class := (printf "%s %s" ($image.Params.class | default "") ($ctx.class | default ""))}}
  {{ $eager := $ctx.eager | default $image.Params.eager }}
  {{ $style := $ctx.style | default $image.Params.style }}
  

  {{- if $figure -}}
    <figure class="figure">
  {{- end -}}
  {{ if eq $image.MediaType.SubType "svg" }}
      <img alt="{{ $title }}" 
        title="{{ $title }}"
        class="img-fluid {{ $class }}"
        style="{{ $style | safeCSS }}" 
        src="{{ $image.RelPermalink }}" />
  {{ else }}
    {{ if $eager }} 
        <picture>
          <source type="image/webp"
            srcset="{{- $imgSrcSetWebp -}}"
            data-sizes="auto">
          <img alt="{{ $title }}" 
            title="{{ $title }}"
            class="lazyload {{ $class }} eager"
            {{ with $style}} style="{{ . | safeCSS }}"{{ end }}
            data-sizes="auto"
            srcset="{{ $imgSrcSet }}"
            src="{{ $imgSrc }}"
            loading="eager" 
            decoding="async"
            {{ $ctx.data | safeHTMLAttr }}/>
        </picture>
    {{ else -}}
    <picture>
      <source type="image/webp"
      srcset="data:image/webp;base64,{{- $lqipWebp -}}"
        data-srcset="{{- $imgSrcSetWebp -}}"
        data-sizes="auto">
      <img alt="{{ $title }}" 
        title="{{ $title }}"
        class="lazyload {{ $class }}" 
        {{ with $style}} style="{{ . | safeCSS }}"{{ end }}
        data-sizes="auto"
        data-srcset="{{- $imgSrcSet -}}"
        loading="lazy"
        src="{{ $imgSrc }}"
        srcset="data:image/gif;base64,{{- $lqipGif -}}"
        decoding="async"
        {{ $ctx.data | safeHTMLAttr }} />
    </picture>
    {{ end }}
    <noscript>
      <img alt="{{ $title }}" 
        title="{{ $title }}"
        class="img-fluid {{ $class }}"
        {{ with $style}} style="{{ . | safeCSS }}"{{ end }}
        src="{{ $imgSrc }}" />
    </noscript>
  {{ end }}
  {{ if $figure -}}
  <figcaption class="figure-caption">{{ $figureTitle }}</figcaption>
  </figure>
  {{ end }}



{{ else }}
<img src="https://via.placeholder.com/1200" alt="no image provided" class="img-fluid" />
{{ end }}

